@use '../util' as u;
@use "./variables" as v;

h1 {
    font-size: clamp(1.625rem, 1rem + 2vw, 1.75rem);
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

h2 {
    font-size: clamp(.625rem, .5rem + .5vw, .75rem);
    font-weight: 700;
    letter-spacing: .0625rem;
    color: v.$dark-grey-color;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

p {
    font-size: clamp(1rem, 12px + 1.2vw, 1.75rem);
    font-weight: 500;
    color: v.$vdark-grey-color;
}

input[type="text"]{
    font-size: 1.125rem;

    @include u.breakpoint(m) {
        font-size: 1rem;
    }

    @include u.breakpoint(s) {
        font-size: .875rem;
    }
}