//375px, 425px, 768px
$breakpoints: (
    'xs': 23.4375rem,
    's': 26.5625rem,
    'm': 48rem,
);

@mixin breakpoint($size) {
    @if map-has-key($breakpoints, $size) {
        @media (max-width: map-get($breakpoints, $size)) {
            @content;
        }
    } @else {
        @error "Breakpoint '#{$size}' does not exist in $breakpoints";
    }
};

@mixin fade($fade, $timing, $length, $count, $fill){ 
    animation: $fade $timing $length;
    animation-iteration-count: $count; 
    animation-fill-mode: $fill; 
} 

@keyframes fadeIn { 
    0% { opacity: 0; } 
    100% { opacity: 1; } 
} 

@keyframes fadeOut { 
    0% { opacity: 1; } 
    100% { opacity: 0; } 
}